.selection_row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}

.card_area {
    width: 100%;
    margin: 1rem 0;
}

.card_title{
    margin: 0;
}
