* {
    box-sizing: border-box;
}

h2 {
    color: red;
}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--sl-font-sans);
}

body {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

.uni_back_color{
    background-color: #3a6dce;
}

sl-card.subject-card {
    min-width: 100%;
}

sl-card.subject-card::part(base) {
    min-height: 100%;
}

sl-card.subject-card::part(body) {
    flex: 1 0 auto;
}

.chip-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;
}

.container-70 {
    width: min(max(800px, 70%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.container-50 {
    width: min(max(800px, 50%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

