* {
    box-sizing: border-box;
}

h2 {
    color: red;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.column{
    display: flex;
    flex-direction: column;
}
.column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

html, body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: var(--sl-font-sans);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    opacity: 0;
    transition: .33s opacity ease-in;
}

body.ready {
    opacity: 1;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.error {
    color: red;
}

a {
    text-decoration: none;
    color: inherit;
}

.uni_back_color{
    background-color: #3a6dce;
}

sl-card.subject-card {
    min-width: 100%;
}

sl-card.subject-card::part(base) {
    min-height: 100%;
}

sl-card.subject-card::part(body) {
    flex: 1 0 auto;
}

.chip-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 0.25rem;

}
.container-80{
    width: min(max(800px, 80%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.container-70 {
    width: min(max(800px, 70%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.container-50 {
    width: min(max(800px, 50%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}
.container-account{
    background-color: #efefef;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.container-small {
    width: min(600px, 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}
