.fullsize {
    width: 100%;
    flex-direction: column;
    background-color: #efefef;
    flex: content;
    min-height: 100vh;
}

.body {
    width: min(max(800px, 50%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #efefef;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.container{
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-content: space-between;
    background-color: #efefef;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    width: 100%;
}

.header p {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.image_container {
    position: relative;
}

.imageEditButton {
    position: absolute;
    bottom: -5px;
    right: -5px;
    opacity: 80%;
    transition: opacity 0.2s;
}

.imageEditButton:hover {
    opacity: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2rem;
    width: 100%;
}

.editor_text {
    margin-left: 2rem;
    font-size: xx-large;
    color: #4e90e2;
    font-weight: 500;
}

.moderator_tag {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewsColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 3rem;
    gap: 1rem;
}

.hrSeparator{
    width: 40%;
}

.noReviewsTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* min-height: 100px; */
    align-content: space-between;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filterDropdown{
    margin-left: 5%;
}

.userReviews{
    font-weight: bold;
    margin-right: 5%;
}

.planTable {
    width: 50%;
}

.userName {
    font-size: xx-large;
}

.dataRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.dataTable {
    box-shadow: none !important;
    table-layout: fixed;
}

.dataTable td {
    height: 48px;
    border: 0;
}

.dataTable tr {
    border-bottom: 1px solid #e0e0e0 !important;
}

/* Edit button cell */
.dataTable tr td:last-child {
    text-align: right;
}

.dataTable tr:last-child {
    border-bottom: none !important;
}

.modal {
    padding: 0.5rem;
}

.dropzoneWrapper {
    position: relative;
    margin-bottom: 30px;
}

.pictureDropzone {
    border: 1px dashed #202020;
    border-radius: 2rem;
    padding: 24px 24px 50px;
    
    transition: background 0.25s;
}

.pictureDropzone:hover, .pictureDropzone:focus, .pictureDropzone:active, .pictureDropzone::drop {
    background: #efefef;
}

.dropzoneDrop {
    background: #efefef;
}

.pictureUpload {
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    bottom: -20px;
}

.picturePreview {
    border-radius: 100%;
}
