.card_area{
    min-height: 10rem;
    height: 100%;
    min-width: 10rem;
}

.badge_row {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 1rem;
    flex-wrap: wrap;
}

.badge_row_elem {
    margin-right: 0.3rem;
}
