table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
    background-color: #fff;
    color: #4b4f56;
    border-radius: 0.25rem;
    min-height: 100%;
}

thead {
    background-color: #f8f9fa;
}
thead th {
    text-align: left;
    font-weight: 600;
    padding: 0.6rem;
    border-bottom: 1px solid #e9ecef;
    position: sticky;
    background-color: #f8f9fa;
    top: 0
}
tbody th{
    text-align: left;
    font-weight: 600;
    padding: 0.15rem 0.6rem;
    border-bottom: 1px solid #e9ecef;
    background-color: #f8f9fa;
}
tbody tr {
    transition: background-color 0.15s ease-in-out;
}

tbody tr:hover {
    background-color: #f8f9fa;
}
tbody td {
    border-bottom: 1px solid #e9ecef;
    padding: 0.2rem 0.6rem;
}