.general_area {
    background-color: #efefef;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container_95 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    width: min(max(900px, 95%), 100%);
    height: 92%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: auto 0;
    align-self: center;
}
.section_titles {
    margin: 0;
}
.subsection_title{
    padding: 0.5rem 0.5rem;
    margin: 0;
}

/* Schedule */
.schedule_card {
    width: 70rem;
    height: 100%;
}
.schedule_area{
    overflow-y: auto;
}

/* Available Subjects */
.available_card {
    width: 35rem;
    height: 100%;
}
.available_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem;
}
.available_subjects_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    overflow-y: auto;
}

.available_sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Selected Classes */
.selected_card {
    width: 35rem;
    height: 100%;
}
.selected_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.75rem;
}
.selected_list {
    overflow-y: auto;
}

/* Overview */
.info_card {
    padding: 0.5rem 0;
}

.info_row {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.unlockable_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
}
.unlock_button {
    padding: 0.5rem;
    color: #4a90e2;
}

