.container{
    width: 100%;
    min-height: 100px;
    justify-content: center;
    align-content: space-between;
    background-color: #efefef;
}

.breadcrumbArea{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.background{
    width: min(max(800px, 50%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #efefef;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.editDeleteButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
}

.mainBody{
    width: 100%;
    height: 100%;
}

.reviewProgressArea{
    display: flex;
    flex-direction: column;
}

.reviewAndProgress{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pendingButton{
    margin-left: 10px;
    padding: 10px;
}

.textCenter{
    display: flex;
    justify-content: center;
}

.button {
    &:disabled,
    &[data-disabled] {
        border-color: light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
        background-color: steelblue;
    }
}

.hrSeparator{
    width: 60%;
}

.filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.filterDropdown{
    margin-left: 15%;
}

.orderMenu{
    display: flex;
    flex-direction: row;
    justify-items:center;
    align-items: center;
}

.noReviewsTitle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100px;
    align-content: space-between;
}

.reviewsColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 3rem;
    gap: 1rem;
}