.fullsize{
    width: 100%;
    flex-direction: column;
    background-color: #efefef;
    flex: content;
}

.center{
    width: min(max(800px, 90%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.dashboard-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 94vh;
    margin: auto 0;
}

.overviewArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-height: 70vh;
    margin: auto;
}

.future-subjects-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    padding: 0 1rem 2rem 1rem;
    gap: 1rem;
}

.dashboard{
    max-width: 90%;
    min-height: 70vh;
    overflow-y: hidden;
    margin-left: 4rem;
}

.future-subjects-area {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fullsize-tab{
    width: min(max(800px, 50%), 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
}

.cardWidth{
    width: 100%
}

.statRow{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.progressCard {
    flex: auto;
    min-width: 25vw;
}

.progressCard::part(base) {
    height: 100%;
}

.progressCard::part(header) {
    padding-top: 0;
    padding-bottom: 0;
}

.progressCard::part(body) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-semester-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.time-table-area {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.current-semester-class-area {
    padding: 0.5rem 0.2rem;
    width: 45%;
    height: 100%;
}

.current-semester-card {
    width: 100%;
}

.current-semester-subject-info-list {
    height: 95%;
    overflow-y: auto;
    flex: 1;
}