.fullsize{
    width: 100%;
    flex-direction: column;
    background-color: #efefef;
    flex: content;
}

.center{
    width: min(max(800px, 90%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.dashboard-area {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 94vh;
    margin: auto 0;
}

.overviewArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    min-height: 70vh;
    margin: auto;
}

.future-subjects-area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    padding: 0 1rem 2rem 1rem;
    gap: 1rem;
}

.dashboard{
    max-width: 90%;
    min-height: 70vh;
    overflow-y: hidden;
    margin-left: 4rem;
}

.future-subjects-area {
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.fullsize-tab{
    width: min(max(800px, 50%), 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efefef;
}

.cardWidth{
    width: 100%
}

.statRow{
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.progressCard {
    flex: auto;
    min-width: 25vw;
}

.progressCard::part(base) {
    height: 100%;
}

.progressCard::part(header) {
    padding-top: 0;
    padding-bottom: 0;
}

.progressCard::part(body) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.columnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.currentSemesterArea {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100%;
}

.timeTableArea {
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.currentSemesterClassArea {
    padding: 0.5rem 0.2rem;
    width: 45%;
    height: 100%;
}

.currentSemesterCard {
    width: 100%;
}

.currentSemesterSubjectInfoList {
    height: 95%;
    overflow-y: auto;
    flex: 1;
}

.emptyTabArea {
    align-self: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    padding-bottom: 1rem;
}

.emptyTabInfo {
    font-weight: normal;
    font-size: 1.7rem;
}

.semesterEditArea{
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    flex-direction: column;
}

.containter{
    width: min(max(800px, 90%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    background-color: #efefef;
}

.dashboardArea {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 94vh;
    margin: auto 0;
}

.choosingArea {
    width: 100%;
    padding: 0.5rem;
    min-height: 100%;
}

.tabs::part(base) {
    min-height: 100%;
}

.tabs::part(body) {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 1rem
}

.tabs::part(tabs) {
    padding: 0;
    --padding: 0;
    margin: 0;
}

.tabs::part(nav) {
    position: sticky;
    z-index: 10;
    top: 0;
    background: #efefef;
    padding-bottom: 0.05rem;
}

.background {
    background: #efefef;
    min-width: 100%;
    min-height: 100%;
}