.container50 {
    width: min(max(800px, 50%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;

}

.background {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    height: 200vh;
}
.title {
    font-size: xx-large;
    display: flex;
    justify-content: center;
}
.form {
    width: 80%;
}
.maxWidth {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
}
.classList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    width: 100%;
}
.tableItem {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.modalButton {
    display: flex;
    justify-content: right;
    align-content: center;

    width: 100%;
}