<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="devPattern" value="[%highlight(%level)][%logger{24}] %msg%n" />

    <appender name="root-appender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${devPattern:-}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="root-appender"/>
    </root>
</configuration>
