.classCard{
    padding-top: 0.5rem;
    width: 100%;
}

.icon {
    padding-top: .5rem;
    font-size: 1rem;
}
.chooser {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}