.fullsize{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #efefef;
}

.search_area {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));

    padding: 2rem 1rem 2rem 1rem;
    gap: 1rem;
}

.container_70 {
    width: min(max(800px, 70%), 100%);
    padding-left: 2rem;
    padding-right: 2rem;
    align-self: center;
    justify-self: center;
    margin: 0 auto;
}

.results_area {
    display: flex;
    flex-direction: column;
}

.filters_area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.filter {
    width: 100%;
}

.filter_button {
    opacity: 0.7;
}

.filter_option_button {
    font-size: 11px;
    border: none;
    font-weight: bold;
    color: gray;
}
.filter_option_button:hover {
    color: rgb(97, 97, 238);
    cursor: pointer;
}

.filter-section {
    display: none;
    justify-content: center;
}

.filter_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.filter_section {
    width: 100%;
    justify-content: space-around;
}

.filter-action {
    padding-top: .5rem;
}

.filter-button {
    --sl-input-border-width: 0px;
}

.vert_divider {
    margin-top: 2rem;
    height: 14rem;
}

.center_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25rem;
    margin-bottom: 2rem;
}

.not_found_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-top: 5rem;
}

.orderBy_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.arrowButtonIcon{
    color: grey;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 1rem;
    padding-top: 5px;

}

.closeButton{
    margin-left: 1rem;
    margin-top: 0.15rem;
}
